# Ignore files for TI Projects 
# Backup files
*~
# Archives
*.zip
# hex files for programming
*.hex
# Map files
*.map
# Generated asm files
*.a28
# Object files
*.obj
# Debug information
*.paf2
*.sbl
*.lkf
*.CS_/
# Build logs
*.log
# Workspaces
*.wks
